registry = https://nexus.coloseo.io/repository/npm-all/
//nexus.coloseo.io/repository/npm-internal/:_authToken=003635ca-b87e-37d4-b3b5-be733dc441fb
//nexus.coloseo.io/repository/npm-all/:_authToken=003635ca-b87e-37d4-b3b5-be733dc441fb